<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <!-- Actions Titulos -->
    <record id="action_open_titulo" model="ir.actions.act_window">
        <field name="name">Titulos</field>
        <field name="res_model">ati.titulo</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Actions Titulos Oferta -->
    <record id="action_open_titulo_oferta" model="ir.actions.act_window">
        <field name="name">Ofertas</field>
        <field name="res_model">ati.titulo.oferta</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_open_carga_titulo_oferta" model="ir.actions.act_window">
        <field name="name">Carga de Ofertas</field>
        <field name="res_model">ati.import.oferta.titulos</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Actions Cargas -->
    <record id="action_open_carga_libranzas" model="ir.actions.act_window">
        <field name="name">Carga Libranzas</field>
        <field name="res_model">import.libranzas</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_carga_factoring" model="ir.actions.act_window">
        <field name="name">Carga Factoring</field>
        <field name="res_model">import.factoring</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_carga_sentencias" model="ir.actions.act_window">
        <field name="name">Carga Sentencias</field>
        <field name="res_model">import.sentencias</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_carga_mutuos" model="ir.actions.act_window">
        <field name="name">Carga Mutuos</field>
        <field name="res_model">import.mutuo</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_eliminar_historicos" model="ir.actions.act_window">
        <field name="name">Eliminar Históricos</field>
        <field name="res_model">eliminar.historicos</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Actions Cargas Rendimientos y Administracion -->
    <record id="action_open_carga_rendimientos_administracion" model="ir.actions.act_window">
        <field name="name">Carga Rendimientos y Administracion</field>
        <field name="res_model">import.rendimientos.administracion</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_rendimientos_administracion" model="ir.actions.act_window">
        <field name="name">Rendimientos y Administracion</field>
        <field name="res_model">ati.rendimientos.administracion</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Actions Cargas Recursos de Recompra-->
    <record id="action_open_carga_recursos_fcl" model="ir.actions.act_window">
        <field name="name">Carga Recursos FCL</field>
        <field name="res_model">import.recursos.fcl</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_carga_recursos_fcp" model="ir.actions.act_window">
        <field name="name">Carga Recursos FCP</field>
        <field name="res_model">import.recursos.fcp</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_carga_recursos_csf" model="ir.actions.act_window">
        <field name="name">Carga Recursos CSF</field>
        <field name="res_model">import.recursos.csf</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Actions Configuraciones -->
    <record id="action_open_state_titulo" model="ir.actions.act_window">
        <field name="name">Estado Titulos</field>
        <field name="res_model">ati.state.titulo</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_state_periodo" model="ir.actions.act_window">
        <field name="name">Estado Periodos</field>
        <field name="res_model">ati.state.periodo</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_movement_type" model="ir.actions.act_window">
        <field name="name">Tipo de movimientos</field>
        <field name="res_model">ati.movement.type</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_gestor" model="ir.actions.act_window">
        <field name="name">Gestores</field>
        <field name="res_model">ati.gestor</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_investment_type" model="ir.actions.act_window">
        <field name="name">Inversiones</field>
        <field name="res_model">ati.investment.type</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_emisor" model="ir.actions.act_window">
        <field name="name">Emisores</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">tree,kanban,form</field>
        <field name="context">{'search_default_emisor': 1}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crea tu primer Emisor
            </p>
        </field>
    </record>
    <record id="action_open_pagador" model="ir.actions.act_window">
        <field name="name">Pagadores</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">tree,kanban,form</field>
        <field name="context">{'search_default_pagador': 1}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crea tu primer Pagador
            </p>
        </field>
    </record>

    <!-- Menu y Menus principales -->
    <menuitem id="menu_tit" name="Titulos" web_icon="ati_titulos,static/description/icon.png"/>
    <menuitem id="menu_titulos" sequence="1" name="Titulos" parent="menu_tit" action="action_open_titulo"/>
    <menuitem id="menu_titulos_ofer" sequence="2" name="Titulos en Oferta" parent="menu_tit" />
    <menuitem id="menu_carga_extractos" sequence="3" name="Carga de extractos" parent="menu_tit"/>
    <menuitem id="menu_recursos_recompra" sequence="4" name="Carga recursos en p.recompra" parent="menu_tit"/>
    <menuitem id="menu_rendimiento_administracion" sequence="5" name="Rendimientos y administracion" parent="menu_tit"/>
    <menuitem id="menu_conf" sequence="10" name="Configuraciones" parent="menu_tit"/>

    <!-- Menus de tercer nivel-->
    <menuitem id="menu_titulo_oferta" name="Titulos" parent="menu_titulos_ofer" action="action_open_titulo_oferta"/>
    <menuitem id="menu_carga_titulo_oferta" name="Cargar Ofertas" parent="menu_titulos_ofer" action="action_open_carga_titulo_oferta"/>
    <menuitem id="menu_carga_libranzas" name="Cargar Libranzas" parent="menu_carga_extractos" action="action_open_carga_libranzas"/>
    <menuitem id="menu_carga_factoring" name="Cargar Factoring" parent="menu_carga_extractos" action="action_open_carga_factoring"/>
    <menuitem id="menu_carga_sentencias" name="Cargar Sentencias" parent="menu_carga_extractos" action="action_open_carga_sentencias"/>
    <menuitem id="menu_carga_mutuos" name="Cargar Mutuos" parent="menu_carga_extractos" action="action_open_carga_mutuos"/>
    <menuitem id="menu_eliminar_historicos" name="Eliminar Históricos" parent="menu_carga_extractos" action="action_open_eliminar_historicos"/>
    <menuitem id="menu_carga_recursos_fcl" name="Fideicomiso Cuantum Libranzas (FCL)" parent="menu_recursos_recompra" action="action_open_carga_recursos_fcl"/>
    <menuitem id="menu_carga_recursos_fcp" name="Fideicomiso Cuantum P (FCP)" parent="menu_recursos_recompra" action="action_open_carga_recursos_fcp"/>
    <menuitem id="menu_carga_recursos_csf" name="Gestores Cuantum (CSF)" parent="menu_recursos_recompra" action="action_open_carga_recursos_csf"/>
    <menuitem id="menu_state_titulo" name="Estado Titulos" parent="menu_conf" action="action_open_state_titulo"/>
    <menuitem id="menu_state_periodos" name="Estado Periodos" parent="menu_conf" action="action_open_state_periodo"/>
    <menuitem id="menu_movement_type" name="Tipo de movimientos" parent="menu_conf" action="action_open_movement_type"/>
    <menuitem id="menu_gestor" name="Gestores" parent="menu_conf" action="action_open_gestor"/>
    <menuitem id="menu_emisor" name="Emisores" parent="menu_conf" action="action_open_emisor"/>
    <menuitem id="menu_pagador" name="Pagadores" parent="menu_conf" action="action_open_pagador"/>
    <menuitem id="menu_investment_type" name="Tipo de Inversiones" parent="menu_conf" action="action_open_investment_type"/>
    <menuitem id="menu_rendimientos_administracions" name="Rendimientos y Administracion" parent="menu_rendimiento_administracion" action="action_open_rendimientos_administracion"/>
    <menuitem id="menu_carga_rendimientos_administracions" name="Cargar Rendimientos y Administracion" parent="menu_rendimiento_administracion" action="action_open_carga_rendimientos_administracion"/>
    

</odoo>