<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <record id="action_open_sentencia" model="ir.actions.act_window">
        <field name="name">Sentencias</field>
        <field name="res_model">ctm.sentencias</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_tasas" model="ir.actions.act_window">
        <field name="name">Tasas</field>
        <field name="res_model">ctm.tasas</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_vehiculos" model="ir.actions.act_window">
        <field name="name">Vehículos</field>
        <field name="res_model">ctm.vehiculos</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_codigos" model="ir.actions.act_window">
        <field name="name">Códigos</field>
        <field name="res_model">ctm.codigo.liquidacion</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_pagadores" model="ir.actions.act_window">
        <field name="name">Pagadores</field>
        <field name="res_model">ctm.pagador</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_cargar_sentencias" model="ir.actions.act_window">
        <field name="name">Cargar Sentencias</field>
        <field name="res_model">ctm.cargar_sentencias</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_open_liquidaciones" model="ir.actions.act_window">
        <field name="name">Liquidaciones</field>
        <field name="res_model">ctm.liquidaciones</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_crear_sentencias" model="ir.actions.act_window">
        <field name="name">Crear Liquidaciones</field>
        <field name="res_model">ctm.crear_sentencias</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_ctm_proyecciones" model="ir.actions.act_window">
        <field name="name">Proyecciones</field>
        <field name="res_model">ctm.proyecciones</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_view_6_4" model="ir.actions.act_window">
        <field name="name">64</field>
        <field name="res_model">ctm.valoracion_6_4</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_crear_valoraciones_6_4" model="ir.actions.act_window">
        <field name="name">Crear Valoraciones 6.4</field>
        <field name="res_model">ctm.crear_valoracion_6_4</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Menu y Menus principales -->
    <menuitem id="menu_sentencias_main" name="Sentencias"  web_icon="ctm_sentencias,static/description/icon.png" />
    <menuitem id="menu_sentencias_root" sequence="1" name="Sentencias" parent="menu_sentencias_main">
        <menuitem id="menu_sentencias" sequence="1" name="Sentencias" action="action_open_sentencia"/>
        <menuitem id="menu_carga_sentencias" sequence="2" name="Cargar Sentencias" action="action_cargar_sentencias"/>
    </menuitem>
    
    <menuitem id="menu_ctm_proyecciones" sequence="2" name="Proyecciones" parent="menu_sentencias_main" action="action_ctm_proyecciones"/>
    <menuitem id="menu_liquidaciones_main" sequence="3" name="Liquidaciones" parent="menu_sentencias_main"/>
    <menuitem id="menu_6_4_main" sequence="4" name="6.4" parent="menu_sentencias_main">
        <menuitem id="menu_6_4_view" name="6.4" action="action_view_6_4"/>
        <menuitem id="menu_crear_valoraciones_6_4" name="Crear Valoraciones 6.4" action="action_crear_valoraciones_6_4"/>
    </menuitem>

    <menuitem id="menu_configuraciones" sequence="10" name="Configuraciones" parent="menu_sentencias_main"/>

    <!-- Menus de tercer nivel-->
    <menuitem id="menu_tasas" name="Tasas" parent="menu_configuraciones" action="action_open_tasas"/>
    <menuitem id="menu_vehiculos" name="Vehículos" parent="menu_configuraciones" action="action_open_vehiculos"/>
    <menuitem id="menu_pagadores" name="Pagadores" parent="menu_configuraciones" action="action_open_pagadores"/>
    <menuitem id="menu_codigo_liquidacion" name="Códigos" parent="menu_configuraciones" action="action_open_codigos"/>
    <menuitem id="menu_liquidaciones" name="Liquidaciones" parent="menu_liquidaciones_main" action="action_open_liquidaciones"/>
    <menuitem id="menu_crear_sentencias" name="Crear Liquidaciones" parent="menu_liquidaciones_main" action="action_crear_sentencias"/>
</odoo>