<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <record id="action_compras" model="ir.actions.act_window">
        <field name="name">Compras</field>
        <field name="res_model">ctm.compras</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_aplicaciones" model="ir.actions.act_window">
        <field name="name">Aplicaciones</field>
        <field name="res_model">ctm.aplicaciones</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_cargar_movimientos" model="ir.actions.act_window">
        <field name="name">Cargar Movimientos</field>
        <field name="res_model">ctm.cargar_movimientos</field>
        <field name="view_mode">tree,form</field>
    </record>


    <menuitem id="menu_control_movimientos_main" name="Control de Movimientos"  web_icon="ctm_control_movimientos,static/description/GENERAL.png" />

    <menuitem id="menu_entradas" sequence="1" name="Entradas" parent="menu_control_movimientos_main">
        <menuitem id="menu_compras" name="Compras"  action="action_compras" sequence="1"/>
        <menuitem id="menu_aplicaciones" name="Aplicaciones" action="action_aplicaciones" sequence="2"/>
        <menuitem id="menu_cargar_movimientos" name="Cargar Movimientos"  action="action_cargar_movimientos" sequence="3"/>
    </menuitem>
</odoo>