<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <record id="action_open_validacion" model="ir.actions.act_window">
        <field name="name">Informe Clientes</field>
        <field name="res_model">ctm.validacion</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_open_informe_administracion" model="ir.actions.act_window">
        <field name="name">Informe Administración y Rendimientos</field>
        <field name="res_model">ctm.informe_administracion</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_open_informe_tir" model="ir.actions.act_window">
        <field name="name">Informe TIR</field>
        <field name="res_model">informe.tir</field>
        <field name="view_mode">tree,form</field>
    </record>


    <!-- Menu y Menus principales -->
    <menuitem id="parent_validaciones" sequence="6" name="Validaciones" parent="ati_titulos.menu_tit" />
    <menuitem id="menu_validaciones" sequence="6" name="Informe Clientes" parent="parent_validaciones" action="action_open_validacion"/>
    <menuitem id="menu_informe_administracion" sequence="6" name="Informe Administración y Rendimientos" parent="parent_validaciones" action="action_open_informe_administracion"/>
    <menuitem id="menu_informe_tir" sequence="7" name="Informe TIR" parent="parent_validaciones" action="action_open_informe_tir"/>
</odoo>