<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <!-- Actions Extracto -->
    <record id="action_open_extracto" model="ir.actions.act_window">
        <field name="name">Extractos</field>
        <field name="res_model">ati.extracto</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Menu y Menus principales -->
    <menuitem id="menu_extracto" sequence="5" name="Extractos" parent="ati_titulos.menu_tit"/>
    <menuitem id="menu_extractos" sequence="6" name="Extractos" parent="menu_extracto" action="action_open_extracto"/>
    <menuitem id="menu_informe_errores" sequence="7" name="Informe Errores" parent="ati_titulos.menu_tit"/>

</odoo>